@charset "UTF-8";
body {
    margin: 0 auto;
    padding: 1em;
    width: 90%;
    max-width: 1024px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 1em 0;
    border-bottom: 2px solid #999;
}

h1 {
    text-align: center;
    letter-spacing: 3px;
}

h1 + p {
    text-align: right;
}

span.required {
    padding: 0 0.4em;
    border: 1px solid #f00;
    border-radius: 0.3em;
    color: #f00;
}

form {
    margin: 20px auto 0;
    padding: 1em;
    width: 90%;
    max-width: 980px;
}

form label,
form input,
form textarea,
form button {
    padding: 0.5em;
    font: 1.2em sans-serif;
}

form input,
form textarea {
    width: 100%;
    border: 2px solid #999;
    border-radius: 1em;
    box-sizing: border-box;
}

form label {
    display: block;
    text-align: left;
}

form input:focus {
    border-color: #000;
}

div.field-description {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    margin-top: -16px;
}

span.description {
    padding: 0.3em 0 0 1em;
    color: #757575;
    font-size: 1em;
}

p.button {
    margin-top: 50px;
}

form button {
    display: block;
    margin: 0 auto;
    width: 10em;
    border: none;
    border-radius: 1em;
    background-color: #000;
    color: #fff;
}

form button:hover {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}
